body{
    background-color:#111827 ;
}

.navbar {
    background-color: #111827;
    font-family: "Poppins", "Segoe UI", sans-serif;
}

/* Navigation Bar Part 1 */
.navbar-intro {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 0.7fr 16fr 0.5fr 1fr 3fr;
    padding: 0;
    margin: 0;
}

.opening-location{
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.opening-text{
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;

    padding: 0 5rem;
    font-size: 0.7rem;
}

.location-text{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: right;

    padding: 0 5rem;
    font-size: 0.7rem;
}

.location-text span{
    color: #14B8A6;
}

.opening-icon, .location-icon{
    font-size: 1rem;
    margin-right: 1rem;
    color: #14B8A6;
}

.location-chevron-icon{
    font-size: 0.7rem;
    margin-left: 0.5rem;
    color: #111827;
}

.navbar-intro .color-block{
    background-color: #111827;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    z-index: 2;

    clip-path: polygon(0% 0%, 101% 0%, 101% 100%, 0% 0%);
}

.reach-us{
    grid-column: 4 / span 2;
    grid-row: 1 / span 1;
    background-color: #111827;
    z-index: 2;

    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;

    padding: 0rem
}

.reach-us i{
    padding: 0 0.25rem;
}

/* Navigation Bar Part 2 */
.navbar-container {
    display: grid;
    grid-template-columns: 0.7fr 16fr 0.5fr 1fr 3fr;
    grid-template-rows: 1fr 1fr;
}

.navbar-container .color-block-1 {
    background-color: #14B8A6;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    z-index: 2;

    clip-path: polygon(0% 0%, 100% 100%, 0% 100%, 0% 0%);
}

.navbar-container .color-block-2 {
    background-color: #14B8A6;
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
    z-index: 2;

    clip-path: polygon(0% 0%, 101% 0%, 101% 100%, 0% 0%);
}

.navbar-container-principal {
    grid-column: 1 / span 4;
    grid-row: 1 / span 2;
    z-index: 1;

    display: grid;
    grid-template-columns: 2fr 7fr 3fr;
}

.nav-logo {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0rem 0rem 0rem 5rem;
    gap: 0.8rem;
}

.nav-logo a h2{
    text-decoration: none;
    color: #14B8A6;
    font-size: 1.8rem;
}

.nav-links {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: right;

    padding: 0rem 7rem 0rem 0rem;
}

.nav-links ul{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);

    gap: 2rem;
    margin: 0;
    list-style: none;

    
}

.nav-links ul li{
    margin: 0;
    padding: 2rem 0.5rem;
    vertical-align: center;
}

.nav-links ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
}

.nav-links ul li:hover{
    text-decoration: none;
    color: #ffffff;
    background-color: #24304d;
    border-bottom: #14B8A6 3px solid;
}

.assistance {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;

    padding: 1rem 5rem 1rem 1rem;
}

.assistance-icon{
    font-size: 2rem;
    color: #14B8A6;
    padding: 0 1rem;
}

.assistance-text{
    color: #ffffff;
    padding: 0 1rem;
}

.assistance-text p{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}

.assistance-text span{
    color: #14B8A6;
    font-weight: bold;
}

.sign-in {
    background-color:  #14B8A6;
    grid-column: 5 / span 1;
    grid-row: 1 / span 2;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 1rem;
    margin: 0;
}

.sign-in-text{
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7rem;
    
    background-color: #111827;
    padding: 0.3rem 1.5rem;
    margin: 0;
    border-radius: 8px;
}

.navbar-container-principal a{
    text-decoration: none;
}

/* Contact Form Section */

.Contact-form {
  background-color: #111827;
  padding: 20px;
  color: #14B8A6;
  max-width: 900px;
  margin: auto;
  border-radius: 12px;
}

.info{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}
.message{
  display: flex;
  flex: 2;
  flex-direction: column;;
}

.message textarea{
    height: 100%;
    min-width: 200px;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.form-column{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    gap: 20px;
}

label{
  color: rgb(92, 189, 175);
  font-family: "Poppins","Segoe UI", sans-serif;
  font-weight: bold;
  font-size: large;
}

textarea{
  height: 200px;
}

input, textarea{
  margin-bottom: 20px;
  border-radius: 10px;
  width: 300px;
  height: 40px;
}

.Submit-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

input[type="Submit"]{
    background-color: #14B8A6;
    color: white;
    font-family: "Poppins","Segoe UI", sans-serif;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
}
input[type="Submit"]:hover{
    background-color: #0e7c78;
    cursor: pointer;
}

/* Footer Section */
.footer-content{
    background-color: #111827;
    color: #ffffff;
    padding: 4rem 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.footer-links a{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    text-decoration: none;
}

.footer-links a:hover{
    text-decoration: underline;
}

